<div class="card">
  <div class="card-header bg-secondary text-light">
    {{ title }}
  </div>

  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #form="ngForm">

      <div *ngIf="emailSended" class="alert alert-warning">
        E-mail enviado com sucesso. Verifique sua caixa de entrada para altera sua senha.
      </div>

      <div *ngIf="userErrors.code" class="alert alert-danger">
        É bem provavel que tal e-mail já esteja cadastrado, seu jumento!!!
      </div>

      <div class="form-group">
        <label> Nome </label>
        <input type="text" class="form-control" [(ngModel)]="user.name" name="name"  #name="ngModel" required minlength="3" />

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Nome é obrigatório.
          </div>
          <div *ngIf="name.errors.minlength">
            Nome precisa ter no mínimo 4 caracteres.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label> CPF </label>
        <input type="text" class="form-control" [(ngModel)]="user.cpf" name="cpf"  #cpf="ngModel" required mask='000.000.000-00'/>

        <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)" class="alert alert-danger">
          <div *ngIf="cpf.errors.required">
            CPF é obrigatório.
          </div>
          <!-- <div *ngIf="cpf.errors.minlength">
            Preencha o CPF corretamente rapaz.
          </div> -->
        </div>
      </div>
      
      <div class="form-group">
        <label> Phone </label>
        <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone"  #phone="ngModel" required mask='(000) 00000-0000'/>

        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
          <div *ngIf="phone.errors.required">
            Phone é obrigatório.
          </div>
          <!-- <div *ngIf="phone.errors.minlength">
            É óbvio que o phone está errado, preencha direito.
          </div> -->
        </div>
      </div>
      
      <div class="form-group">
        <label> Email </label>
        <input type="text" class="form-control" [(ngModel)]="user.email" name="email"  #email="ngModel" required [pattern]="emailPatterns"/>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email é obrigatório.
          </div>
          <div *ngIf="email.errors.pattern">
            Sério mano? Que email é esse? Preencha o email corretamente. 
          </div>
        </div>
      </div>  

      <div *ngIf="!user.uid">
        <div class="form-group">
          <label> Senha </label>
          <input type="text" class="form-control" [(ngModel)]="user.password" name="password"  #password="ngModel" required minlength="6"/>

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Senha é obrigatório.
            </div>
            <div *ngIf="password.errors.minlength">
              Senha precisa ter no mínimo 6 caracteres.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label> Confirmar Senha </label>
          <input type="text" class="form-control" [(ngModel)]="user.confirm_password" name="confirm_password"  #confirm_password="ngModel" required minlength="6" pattern="{{ password.value }}"/>

          <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" class="alert alert-danger">
            <div *ngIf="confirm_password.errors.required">
              Confirmar a Senha é obrigatório.
            </div>
            <div *ngIf="confirm_password.errors.pattern">
              Rapaz!!! É óbvio que as senhas devem ser iguais. Repita a senha corretamente.
            </div>
          </div>
        </div>
      </div>  

      <div style="float:left;">
        <button type="submit" class="btn btn-primary ml-2" [disabled]="!form.form.valid"> Salvar </button>
        <a routerLink="/users" class="btn btn-secondary ml-2"> Cancelar </a>
      </div>
      
      <div class="row justify-content-end">
        <a class="btn btn-info ml-2" title="Enviar email para redefinir senha" (click)="recovery(user)" style="text-decoration:none !important; color:white;">
            <i class="fa fa-paper-plane"> Redefinir Senha </i>
        </a>
      </div>

    </form>
  </div>
</div>
